In [2]:
!ls

data.tsv
Untitled.ipynb

In [3]:
import pandas as pd
import numpy as np

In [9]:
names_df = pd.read_table('./data.tsv')

In [ ]:
name_list = names_df['primaryName'].to_frame()
name_list.to_csv('names.txt', ' ', header=False, index=False)

In [13]:
# sorted_names
sorted_names = names_df['primaryName'].sort_values().to_frame()
sorted_names.head()

                         primaryName
7946175  !'aru Ikhuisi Piet Berendse
6541290                 !Gubi Tietie
4845988               !Mystery Girl!
890438               !Nqate Xqamxebe
2312745                   #1 FanGirl

In [14]:
sorted_names.to_csv('sorted_names.txt', ' ', header=False, index=False) # could set quotechar to '' instead of cleaning below

In [36]:
def load_names(path):
    def clean(s):
        return s.strip('"')
    with open(path,encoding="utf-8") as tf:
        return list(map(clean, tf.read().splitlines()))
    
names = load_names('names.txt')
sorted_names = load_names('sorted_names.txt')

In [16]:
%%timeit

12.5 ns ± 0.103 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)